<!DOCTYPE html>
<meta charset="utf-8">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="stylesheets/jquery.mobile-1.3.0.min.css">

  <body>



  <div data-role="page">

    <div data-role="header">
      <h1>xVersus</h1>
      <input id="query" name="query" type="text" value="<%=query?query:''%>" data-mini="true" data-theme="c" />

    </div>


    <div data-role="content">



      <script src="javascripts/require.js" data-main="main.js"></script>

      <script type="text/json" id="query-data">
       <%-JSON.stringify(data)%>
      </script>

        <div id="map"></div>

     </div>

  </div>

<script src="http://d3js.org/d3.v3.min.js"></script>

</body>